<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cuckoo</title>

    <style>
    @import url('https://rsms.me/inter/inter-ui.css');

    body {
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        font-family: 'Inter UI', sans-serif;
        padding: 0;
        margin: 0;
    }
    </style>

</head>
<body>

    <noscript>You need to enable JavaScript to run this app.</noscript>

    <div id="root"></div>

    <script>window.SENTRY_DSN = '{{ SENTRY_DSN_FRONTEND }}';</script>

</body>
</html>
